.notif__inner{
    visibility: hidden;
}

.notifs .notif__btn{
    border: none;
    background: none;
    position: relative;
    display: inline-block;
}

.notifs .notif__btn i{
    font-size: 46px;
}

.notif__counter{
    position: absolute;
    top: 0;
    right: 0px;
    padding: 0px 6px;
    background:rgb(82, 210, 157);
    border-radius: 50%;
}

button.notif__btn:focus ~ .notif__inner{
    visibility: visible;
}   